{% extends '::base.html.twig' %}

{% block content %}

<div class="alert alert-warning">
    {% trans %}You should push your repository initialization before being able to browse code, commits, etc. Please
    follow intruction below.{% endtrans %}
</div>

<header>
    <h1>{{ project.name }}</h1>

    <p class="lead">{{ project.description }}</p>

</header>

<div class="row-fluid">
    <h2>New Repository</h2>
<pre class="prettyprint">
mkdir {{ project.path }}
cd {{ project.path }}
git init
touch README
git add README
git commit -m "initial commit"
git remote add origin {{ ssh }}
git push -u origin master</pre>

    <h2>Existing Repository</h2>
<pre class="prettyprint">
cd existing_git_repo
git remote add origin {{ ssh }}
git push -u origin master</pre>


</div>

        {% endblock %}