{% extends 'GlitUserBundle:Default:layout.html.twig' %}

{% block class_active_emails %}class="active"{% endblock %}

{% block layout_content %}
<div class="page-header">
    <div class="actions">
        <a href="{{ path('glit_user_emails_new') }}" class="btn">{% trans%}Add{% endtrans %}</a>
    </div>
    <h1>
        {% trans %}Emails{% endtrans %}
    </h1>
</div>
<div class="row-fluid">
    {% if emails|length > 0 %}
    <table class="table table-striped borders list-items">
        <tbody>
        {% for email in emails %}
        <tr>
            <td class="text">
                <a href="{{ path('glit_user_emails_edit', {'id': email.id}) }}"><strong>{{ email.address }}</strong></a>
            </td>
            <td class="text"><p class="small pull-right">{{ email.updatedAt|relativeDate }}</p></td>
            <td><a href="{{ path('glit_user_emails_delete', {'id': email.id}) }}"
                   class="btn btn-danger pull-right">{% trans %}Delete{% endtrans %}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{% trans %}You have any email configured.{% endtrans %}</p>
    {% endif %}
</div>
        {% endblock %}