{% extends 'GlitUserBundle:Default:layout.html.twig' %}
{% form_theme form ':Form:form_horizontal_layout.html.twig' %}

{% block class_active_ssh %}class="active"{% endblock %}

{% block layout_content %}
<div class="page-header">
    <h1>
        {% trans %}SSH Keys{% endtrans %}
    </h1>
</div>
<div class="row-fluid">
    {% if key.id > 0 %}
    <form action="{{ path('glit_user_sshkeys_edit', {'keyId': key.id}) }}" method="post" class="form-horizontal">
        {% else %}
        <form action="{{ path('glit_user_sshkeys_new') }}" method="post" class="form-horizontal">
            {% endif %}
            {{ form_widget(form._token) }}

            <fieldset>
                {% if key.id > 0 %}
                <legend>Edit Key</legend>
                {% else %}
                <legend>New Key</legend>
                {% endif %}
                {{ form_errors(form) }}

                {{ form_rest(form) }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    <a href="{{ path('glit_user_sshkeys_view') }}" class="btn">{% trans %}Cancel{% endtrans %}</a>
                </div>
            </fieldset>
        </form>
</div>
        {% endblock %}